/* Estilo general */
body {
  font-family: 'Dosis', sans-serif;
  background-color: #eef1f8;
  color: #333;
  margin: 0;
  padding: 0;
}

.titulo, h2{
  text-align: center;
  font-family: 'Concert One', serif;
  font-size: 3rem;
  color: #19b508;
  margin-top: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

h3{
  font-family: 'Rajdhani', serif;
  font-size: 1.8rem;
  margin-top: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

p{
  font-size: 1.5rem;
  margin-top: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

/* Contenedor de selección de cliente */
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 600px;
}

.label {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Select personalizado para cliente */
.custom-select {
  position: relative;
  width: 100%;
}

.selected-client {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #aaed9d, #dff7da);
  color: #343434;
  padding: 1rem;
  box-shadow: 6px 7px 22px 1px rgba(87,86,87,0.56);
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  justify-content: center;
  text-align: center;
}

.selected-client:hover {
  background: linear-gradient(135deg,#dff7da, #aaed9d);
  color: #fff;
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.client-image-container {
  width: 170px;
  height: 90px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 15px;
  flex-shrink: 0;
}

.client-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dcliente {
  font-size: 1.2rem;
  color: #cbcbcb;
  font-weight: 600;
}

.dropdown-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  background: linear-gradient(135deg, #aaed9d, #dff7da);  
  box-shadow: 4px 7px 22px 1px rgba(87,86,87,0.56);
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-item {
  background: linear-gradient(135deg, #aaed9d, #dff7da);
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f5;
}

.dropdown-item p {
  margin: 0;
  font-size: 1rem;
}

/* Lista de canchas */
.lista-canchas {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 600px;
}

.item-cancha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #aaed9d, #dff7da);  
  color: black;
  padding: 1rem;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 4px 7px 22px 1px rgba(87,86,87,0.56);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-cancha:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.boton-reservar {
  background-color: #407cc6;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.boton-reservar:hover {
  background-color: var(--color-amarillo);
  transform: translateY(-3px);
}

/* Formulario de reserva */
.formulario-reserva {
  background: linear-gradient(135deg, #dbffbb, #acc7e9); 
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 4px 7px 22px 1px rgba(87,86,87,0.56);
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}

.campo-formulario {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.campo-formulario label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #27598b;
  margin-bottom: 0.5rem;
}

.input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  font-size: 1rem;
}

.input:focus {
  border-color: #046207;
  outline: none;
  box-shadow: 0 0 8px rgba(66, 185, 131, 0.2);
}

/* Mensaje de éxito */
.mensaje-exito {
  background-color: #046207;
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  max-width: 450px;
  margin: 2rem auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}
